Cython
Fabric
Jinja2
Pillow
PyYAML
Pygments
Pymacs
SQLAlchemy
Sphinx
beautifulsoup4
blockdiag
chardet
coverage
ctypes-configure
distribute
docutils
dulwich
fancycompleter
funcparserlib
ipython
jcconv
logilab-astng
logilab-common
lxml
matplotlib
mock
nose
numpy
ordereddict
pexpect
ply
py
pycparser
pycrypto
pylint
ruff
pycodestyle
pyrepl
pytest
pytz
pyzmq
pyzmq-ctypes
readline
rlcompleter2
scipy
ssh
sympy
tornado
tox
virtualenv
web.py
webcolors
requests
